/* Coolors Exported Palette - coolors.co/ee6352-08b2e3-efe9f4-57a773-484d6d */

/* HSL */
$color1: hsla(7%, 82%, 63%, 1);
$color2: hsla(193%, 93%, 46%, 1);
$color3: hsla(273%, 33%, 94%, 1);
$color4: hsla(141%, 31%, 50%, 1);
$color5: hsla(232%, 20%, 35%, 1);

/* RGB */
$color1: rgba(238, 99, 82, 1);
$color2: rgba(8, 178, 227, 1);
$color3: rgba(239, 233, 244, 1);
$color4: rgba(87, 167, 115, 1);
$color5: rgba(72, 77, 109, 1);