*, *::before, *::after {
  box-sizing: border-box;
}

/*
$color1: rgba(238, 99, 82, 1);
$color2: rgba(8, 178, 227, 1);
$color3: rgba(239, 233, 244, 1);
$color4: rgba(87, 167, 115, 1);
$color5: rgba(72, 77, 109, 1);
*/

body {
  background-color: rgba(72, 77, 109, 1);

}

article
{
  /* padding: 0; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container-group {
  width: 800px;
  max-width: 80%;
  min-height: 50%;
  background-color:#fff;
  padding: 10px;
  
  /* box-shadow: 0 20px 4px 2px; */
  border: 2px solid #333;
  border-radius: 8px;
  padding:30px;
}

.text-area
{
  font-family: 'Slabo 27px', serif;
  font-size: 1.8em;
  margin-bottom: 10px;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 4px;
}

.btn-area
{
  display: flex;
  justify-content: space-around;
  /* align-content: center;
  align-items: flex-end; */
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  font-family: 'VT323', monospace;
  font-size: 1.8em;
  line-height: 1.1em;
  background-color: rgba(87, 167, 115, 0.8);
  border: 1px solid rgba(87, 167, 115, 0.3);
  border-radius: 5px;
  padding: 5px 12px;

  color: white;
  outline: none;
  
  transition:all 0.3s ease;
}

.btn:hover {
  //border-color: black;
  background-color: rgba(8, 178, 227, 1);
}